{% extends "base.html.twig" %}
{%  block body %}
    {{ q["bts"] | raw }}
	<div id="response"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ script_foot | raw }}
{% endblock %}
